body{
    background-color:bisque;
}
form{
    background-image: url("./background4.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px 10px 100px;
}
form input{
    background-color: aqua;
    padding:5px;
    border-radius: 3px;
    border: none;
}
form button{
    border-radius: 5px;
    font-weight: bold;
    background-color: aquamarine;

}
form,input{
    color: red;
}